---
---
@import "{{ site.theme }}";
@import "base";

#header_wrap .inner {
  padding: 40px 10px 40px 10px;
}

#project_tagline {
  display: none;
}

#main_content {
  max-width: 800px;
  padding: 5px 5px;
}

#forkme_banner {
  width: 30px;
  height: 30px;
  padding: 3px 3px 3px 3px;
}
.container {
  margin-right: auto;
  margin-left: auto;
}

.row-outer {
  border-bottom: 1px solid;
  margin-bottom: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
}

.image-cell {
  display: flex;
  overflow: hidden;
  margin-left: 5px;
}

.image-cell img {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border: none;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

.station {
  width: 80%;
  margin-left: 10px;
}

.rss-cell {
  width: 10%;
  object-fit: cover;
  justify-content: right;
  margin-right: 5px;
}

.rss-cell img {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border: none;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}
